<div class="container">
  <div class="coments comment-<%= comment.id %>"  id="comment-<%= comment.id %>">
    <div class="row justify-content-left ">
      <div class="col-md-8">
        <div class="card text-center">
          <p class="field">
            <% if current_user %>
              <% pre_like = comment.likes.find { |like| like.author_id == current_user.id} %>
            <% end %>
            <% if current_user and pre_like == nil %>
              <%= link_to '↑', post_comment_likes_path(@post, comment),remote: true ,method: :post, class: 'badge badge-primary ' %>
              <strong> <%= comment.likes.map(&:value).sum %></strong>
              <%= link_to '↓', post_comment_dislike_create_path(@post, comment),remote: true,method: :post, class: 'badge badge-danger' %>
            <% elsif %>
              <span class="badge badge-light disabled">↑</span>
              <strong> <%= comment.likes.map(&:value).sum %></strong>
              <span class="badge badge-light disabled">↓</span>
            <% end %>
            By <strong><%= comment.author.full_name  %></strong> <br>
           <span class="com_created"> Left  <span data-toggle="tooltip" data-placement="top" title="(<%=comment.created_at  %>)">
              <%= time_ago_in_words(comment.created_at) %>
            </span> ago..</span>
          </p>
          <p class="field">
            "<%= comment.comment %>"
            <% if updated(comment) %>
              <p class="updated" italic">Edited <span data-toggle="tooltip" data-placement="top" title="(<%=comment.updated_at  %>)">
                <%= time_ago_in_words(comment.updated_at) %>
              </span> ago..</p>
             <% end %>
          </p>
          <p>
            <% if current_user %>
                <div class="btn-group" role="group" aria-label="Basic example" >
                  <%= link_to "Reply", new_post_comment_path(comment.post, :parent_id => comment.id, js: true), remote: true, class:'btn btn-sm btn-outline-secondary' %>
                  <% if check_edit_rights(@current_user,comment) %>
                      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), remote: true, class:'btn btn-sm btn-outline-secondary ' %>
                      <%= link_to 'Destroy Comment', [comment.post, comment], remote: true,
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-outline-secondary' %>
                  <% end  %>
                 </div>
            <% end  %>
          </p>
         </div>
      </div>
    </div>
  </div>
</div>
