<span id="hide_edit">
  <div class="col-md-8">
    <%= form_with(model: [ @post, @comment ]) do |form| %>
      <!--# ancestry-->
      <%= form.hidden_field :parent_id, value: @comment.parent_id %>
      <p>
        <%= form.label :comment, id:'hide_label_form' %><br>
        <%= form.text_area :comment, class:'form-control'%>
      </p>
      <p>
        <%= form.submit class:'btn btn-info btn-lg', id:'hide_button_form' %>
      </p>
    <% end %>
  </div>
</span>