<div class="container new_comment_form">
  <div class="coments" id="form_new">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card text-center" id="form_comment">
          <h2>Leave a comment:</h2>
          <%= form_with(model: [ @post, @post.comments.build ]) do |form| %>
            <!--# ancestry-->
            <%= form.hidden_field :parent_id %>
            <p>
              <%= form.label :comment %><br>
              <%= form.text_area :comment, class:'form-control' %>
            </p>
            <p>
              <%= form.submit class:'btn btn btn-primary btn-lg ' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>