<div class="container">
<%= form_for([@post, @comment]) do |form| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <!--# ancestry-->
    <%= form.hidden_field :parent_id %>

    <p>
      <%= form.label :comment %><br>
      <%= form.text_area :comment, class:'form-control' %>
    </p>
    <p>
      <%= form.submit class:'btn btn-info btn-lg btn-block' %>
    </p>
  <% end %>

</div>


