<div class="container">
  <%= form_for(@author) do |form| %>
    <% if author.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(author.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% author.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :first_name %><i>*</i>
      <%= form.text_field :first_name, class:'form-control' %>
    </div>
    <div class="field">
      <%= form.label :last_name %><i>*</i>
      <%= form.text_field :last_name, class:'form-control' %>
    </div>

    <div class="field">
      <%= form.label :email %><i>*</i>
      <%= form.text_field :email, class:'form-control' %>
    </div>

    <div class="field">
      <%= form.label :birthday %>
      <%= form.date_field :birthday, class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :gender %>
      <br>
      <%= form.label :gender, "male", value: "male"  %>
      <%= form.radio_button :gender, 'male' %>
      <%= form.label :gender, "female", value: "female" %>
      <%= form.radio_button :gender, 'female' %>
    </div>

    <div class="field">
      <%= form.label :password %><i>*</i>
      <%= form.password_field :password, class:'form-control' %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %><i>*</i>
      <%= form.password_field :password_confirmation, class:'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit class:'btn btn-info btn-lg btn-block'%>
    </div>
  <% end %>
</div>