<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">-->
    <%#= form.label :name %>
    <%#= form.text_field :name, class:'form-control' %>
<!--  </div>-->



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class:'form-control' %>
  </div>

  <div class="control-group">
    <%= form.label :author %><br>
    <%= form.select :author, options_for_select(Author.all.map{|t| [(t.first_name) +" "+ (t.last_name), t.id]}), :prompt => 'select author' %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-info btn-lg btn-block' %>
  </div>
<% end %>
