<%= form_for(@post) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class:'form-control' %>
  </div>

  <div>
    <%= form.collection_select(:author_id, Author.all, :id, :first_name) %>
  </div>


  <div class="actions">
    <%= form.submit class:'btn btn-info btn-lg btn-block' %>
  </div>
<% end %>
