<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card text-center">
        <img src="<%= rails_blob_url(@post.picture) %>" class="card-img-top" alt="...">
        <div class="card-header">
          By <span class="show_name"><%= @post.author.full_name %></span><br>

        </div>
        <div class="card-body">
          <h5 class="card-title "><strong><%= @post.title %></strong></h5>
          <p class="card-text"><%= sanitize @post.content %></p>
          <% if updated(@post) %>
            <p class="updated"> <span data-toggle="tooltip" data-placement="top" title="(<%=@post.updated_at  %>)">
              Edited <%= time_ago_in_words(@post.updated_at) %> ago..
            </span> </p>
          <% end  %>
          <div class="btn-group" role="group" aria-label="Basic example">
            <% if current_user %>
              <% if check_edit_rights(@current_user,@post) %>
                <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-outline-warning' %>
                <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %>
              <% end  %>
            <% end  %>
          </div>
        </div>
                <div class="card-footer text-muted">
          <span data-toggle="tooltip" data-placement="top" title="(<%= @post.created_at %>)">
                 <%= fa_icon "calendar" %> <%= time_ago_in_words(@post.created_at) %> <span data-toggle="tooltip" data-placement="top" title="Uniq:(<%= @post.impressionist_count(:filter=>:ip_address) %>)">
                 <%= fa_icon "eye" %> <%= @post.impressionist_count %>
                 </span>
        </div>
      </div>
    </div>
  </div>
  <% if @post.comments.count == 0 %>
    <p class="alert alert-info">There are no comments yet, you can be the first</p>
  <% end %>
</div>

<h2>Comments</h2>
<%#= render @post.comments %>


<%= nested_comments @post.comments.arrange(order: :created_at)  %>


<% if current_user %>
  <%= render 'comments/form' %>
<% else %>
  <div class="container">
    <div class="alert alert-warning" role="alert">
      Log in to leave comments!
      <br>
    </div>
  </div>
<% end  %>