<header class="header">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h4 class="my-0 mr-md-auto font-weight-normal">Blog on Rails</h4>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= link_to 'Home', posts_path, class: 'btn btn-primary' %>


        <% if current_user %>
          <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
          Logged in as <%= current_user.email %>.
          <%= link_to 'Log Out', logout_path %>
        <% else %>
          <%= link_to 'Sign Up', signup_path %> or
          <%= link_to 'Log In', login_path %>
        <% end %>



      </nav>
<!--              регистрация-->
    </div>
  </div>
</header>

<%#= link_to 'New Post', new_post_path, class: 'btn btn-primary disabled' %>
<%# if user_signed_in? %>
<%#= link_to 'Log out', destroy_user_session_path, class: 'btn btn-outline-primary', method: :delete, data: { confirm: 'Are you sure?' } %>
<%# else %>
<%#= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-primary' %>
<%#= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary' %>
<%# end %>
