<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="devise">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="reg">
      <% if user_signed_in? %>
        <p class="Welcome">Welcome <%= @user %></p>
        <%= link_to 'Exit', destroy_user_session_path, method: :delete  %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
