<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>
  <% if pop_up and current_user == nil %>
    <script>alert('You are not log in. Plz log in or register');</script>
  <% end %>
  <%#= debug(params) if Rails.env.development? %>

  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
  <% end %>



        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/dev' %>

  </body>
</html>
